{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col" style="width: 300px;">Дата создания</th>
                        <th scope="col" style="width: 50px;">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td>
                            <a href="{% url 'detail' snippet.id %}">{{ snippet.name }}</a>
                            <a href="{% url 'edit' snippet.id %}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>{{ snippet.creation_date }}</td>
                        <td style="text-align: center;"><a href="{% url 'delete' snippet.id %}">🗑</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}